.container {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    background-color: rgb(25, 29, 71);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }
  .box1 {
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: 0.2;
    /* border: 10px solid white; */
    border-radius: 50%;
    /* animation: box_dance 2s ; */
    animation-name: box_dance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: 1s;
    /* animation: (animation-name) (animation-duration) (animation-fill-mode) (animation-timing-function) (animation-iteration-count) (animation-direction) (animation-delay); */
  }
  .box2 {
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: 0.2;
    /* border: 10px solid white; */
    border-radius: 50%;
    /* animation: box_dance 2s ; */
    animation-name: box_dance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
    animation-direction: alternate;
    /* animation: (animation-name) (animation-duration) (animation-fill-mode) (animation-timing-function) (animation-iteration-count) (animation-direction) (animation-delay); */
  }
  .box3 {
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: 0.2;
    /* border: 10px solid white; */
    border-radius: 50%;
    /* animation: box_dance 2s ; */
    animation-name: box_dance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-direction: alternate;
    /* animation: (animation-name) (animation-duration) (animation-fill-mode) (animation-timing-function) (animation-iteration-count) (animation-direction) (animation-delay); */
  }
  
  @keyframes box_dance {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
   